article {
  display: flex;
  flex-flow: column wrap;
  h1 { font-size: 1.80em; color: teal; &::before{ content: "# ";}}
  h2 { font-size: 1.34em; color: teal; }
}
.selector-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.selector {
  padding-right: 20px;
  input[type=checkbox]
  {
    transform: scale(1.5);
  }
  label {
    margin-left: 10px;
    font-size: 1.5em;
  }
}
.running {
  color: #FB7
}
.error {
  color: darkred
}